{
    prod:
        url: 'localhost'
        host: 'localhost'
        port: '80'
        mongo: 'localhost'
        testing: off

    test:
        url: 'localhost'
        host: 'localhost'
        port: '80'
        mongo: 'localhost'

    sendgridCredentials:
        username: 'TestUsername'
        password: 'TestPassword'
}
